<?xml version="1.0"?>
<hivemq>
    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>
    </listeners>

    <security>
        <allow-empty-client-id>
            <enabled>false</enabled>
        </allow-empty-client-id>
        <payload-format-validation>
            <enabled>false</enabled>
        </payload-format-validation>
        <utf8-validation>
            <enabled>true</enabled>
        </utf8-validation>
        <allow-request-problem-information>
            <enabled>true</enabled>
        </allow-request-problem-information>
    </security>
</hivemq>
